
@import 'mixins';
@import 'variables';

#htmlwrapper {
    body {
        background-color: #000;
    }
    .container-fluid {
        padding: 0;
    }
    video {
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}
