extends layout

block styles
  // Login page style
  link(href='/css/play.css', rel='stylesheet')
  
block content
    include flash

    video#video(controls, preload='auto')
        source(src='http://1473967895.rsc.cdn77.org/data/roar.mp4', type='video/mp4')

block scripts
    script(src='/js/play.js')
