doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css')
    link(href='https://fonts.googleapis.com/css?family=Life+Savers:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='../css/mobile.css')
  body
     div(class='container')
        div(class='calibration')
           h1(id='title', class='animated tada') Just DANCE for me (Training)      
           h1(id='calibration') Please put down your phone on a flat surface

           p(style='margin-top: 50px') ax: #[ax ax]
           hr
           p ay: #[ay ay]
           hr
           p az: #[az az]
           hr
           p alpha: #[alpha alpha]
           hr
           p beta: #[beta beta]
           hr
           p(style='margin-bottom: 100px;') gamma: #[gamma gamma]
           br
           buttom(type='button', id='cal') CALIBRATE
           buttom(type='button', id='ready', style='display: none;') Ready
           buttom(type='button', id='stop', style='display: none;') Stop

   script(src='https://code.jquery.com/jquery-2.2.0.min.js')
   script(src='http://numericjs.com/numeric/lib/numeric-1.2.6.min.js')
   script(src='https://cdn.firebase.com/js/client/2.4.1/firebase.js')
   script(src='../js/train.js')
