#htmlwrapper h2 {
  color: #525564; }

#htmlwrapper input, #htmlwrapper button {
  margin-top: 10px; }

#htmlwrapper p {
  margin-top: 20px; }

#htmlwrapper button {
  background-color: #C25B56;
  border-color: #b14a45;
  color: #f7f7f7; }
  #htmlwrapper button:hover {
    background-color: #b14a45; }

#htmlwrapper .contentWrapper {
  max-width: 400px;
  margin: auto;
  text-align: center; }
